In [8]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [9]:
Dados = pd.read_csv('Treino.csv')

In [10]:
DadosTeste = pd.read_csv('Teste.csv')
DadosTeste = DadosTeste.drop(columns=['udi','product_id','type'])
DadosTeste

,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min
0,297.5,308.6,1793,26.7,70
1,300.7,310.5,1536,47.4,192
2,297.2,308.4,1460,42.1,41
3,299.4,309.1,1670,35.9,68
4,304.1,313.1,1550,30.9,9
...,...,...,...,...,...
3328,302.5,311.9,1306,59.7,172
3329,300.7,311.0,1413,52.0,91
3330,300.8,311.2,1481,38.5,181
3331,302.8,312.2,1509,36.5,52
3332,300.1,309.2,1687,27.7,95

In [11]:
x = Dados.drop(columns=['udi', 'failure_type','product_id','type'])
y = Dados['failure_type']
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,  test_size=0.2)

In [12]:
modelo = DecisionTreeClassifier()
modelo.fit(x_treino,y_treino)

DecisionTreeClassifier()

In [13]:
FullPredictedSheetTrain = pd.DataFrame(modelo.predict(x))

In [14]:
FullPredictedSheetTrain.rename(columns = {0:'PredictedFeedback'}, inplace = True)
FullPredictedSheetTrain
TableTrei = pd.concat([Dados,FullPredictedSheetTrain],axis = 1)
TableTrei

,udi,product_id,type,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,failure_type,PredictedFeedback
0,1,M14860,M,298.1,308.6,1551,42.8,0,No Failure,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,No Failure,No Failure
2,5,L47184,L,298.2,308.7,1408,40.0,9,No Failure,No Failure
3,6,M14865,M,298.1,308.6,1425,41.9,11,No Failure,No Failure
4,7,L47186,L,298.1,308.6,1558,42.4,14,No Failure,No Failure
...,...,...,...,...,...,...,...,...,...,...
6662,9995,L57174,L,298.8,308.3,1634,27.9,12,No Failure,No Failure
6663,9996,M24855,M,298.8,308.4,1604,29.5,14,No Failure,No Failure
6664,9997,H39410,H,298.9,308.4,1632,31.8,17,No Failure,No Failure
6665,9999,H39412,H,299.0,308.7,1408,48.5,25,No Failure,No Failure
6666,10000,M24859,M,299.0,308.7,1500,40.2,30,No Failure,No Failure

In [15]:

#Emitindo a Taxa de Acerto em %
taxa_acerto = accuracy_score(y,FullPredictedSheetTrain)
print(taxa_acerto)

0.9944502774861257

In [16]:
TableTrei.to_csv('Dados.csv')

In [17]:
#-------------------------------------------------------------------------------------------------------------------------------
#Agora Iremos aplicar a previsÃ£o com o valor de accuracy de 99% de acerto nos dados de Teste.csv
    #concatenando as 2 colunas solicitadas Row_num & Predicted

In [18]:
PredictSheetTest = pd.DataFrame(modelo.predict(DadosTeste))
PredictSheetTest.rename(columns = {0:'Predicted'}, inplace = True)
PredictSheetTest

       Predicted
0     No Failure
1     No Failure
2     No Failure
3     No Failure
4     No Failure
...          ...
3328  No Failure
3329  No Failure
3330  No Failure
3331  No Failure
3332  No Failure

[3333 rows x 1 columns]

In [19]:
SheetTest = pd.read_csv('Teste.csv')
SheetTest = SheetTest.drop(columns=['product_id','type','air_temperature_k','process_temperature_k','rotational_speed_rpm','torque_nm','tool_wear_min'])
SheetTest.rename(columns = {'udi':'Row_Num'}, inplace = True)

In [20]:
TableTest =pd.concat([SheetTest,PredictSheetTest],axis = 1)
TableTest

      Row_Num   Predicted
0         446  No Failure
1        7076  No Failure
2        1191  No Failure
3        2618  No Failure
4        5067  No Failure
...       ...         ...
3328     5554  No Failure
3329     6961  No Failure
3330     6914  No Failure
3331     5510  No Failure
3332     3066  No Failure

[3333 rows x 2 columns]

In [24]:
TableTest.to_csv('Predict_Sheet_Test.csv', index =False)